<div class="card mb-2 rounded-3">
  <img src="../../assets/img/evyap.jpg" class="card-img w-100">
</div>

<div class="card mb-2 rounded-3">
  <img src="../../assets/img/bershka.gif" class="card-img w-100">
</div>
<div class="card mb-2 rounded-3">
  <img src="../../assets/img/madame.gif" class="card-img w-100">
</div>

<div class="card mb-2 rounded-3">
  <img src="../../assets/img/pc.jpeg" class="card-img w-100">
</div>
<div class="card mb-2 rounded-3">
  <img src="../../assets/img/kutahya.gif" class="card-img w-100">
</div>
<div class="card mb-2 rounded-3">
  <img src="../../assets/img/polo.gif" class="card-img w-100">
</div>
<div class="card mb-2 rounded-3">
  <img src="../../assets/img/saat.gif" class="card-img w-100">
</div>
