<div class="container my-5 text-center">
  <h1 class="my-5" style="color: #FF8B39;"><i class="fas fa-shopping-basket"></i></h1>
  <h3 class="my-5 fs-5 fw-bolder" style="color: #FF8B39;">Görünüşe Göre Sepetin Boş</h3>
  <p class="my-5">Sepetinizde ürün bulunamadı. “Alışverişe Başla” butonuna tıklayarak dilediğiniz ürünleri sepete
    ekleyebilirsiniz.</p>
  <button routerLink='/' class="btn text-white px-5 py-2 fw-bolder fs-5" style="background-color: #FF8B39;">Alışverişe
    Başla</button>
</div>
