<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand ms-2 text-danger fs-3" href="#">TrendBurada</a>
    <form class="d-flex w-50 ms-5">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-3 ms-auto mb-2 mb-lg-0">
        <li class="nav-item me-3">
          <a href="" class="nav-link ">Sepetim</a>
        </li>
        <li class="nav-item me-2">
          <button class="btn btn-primary">Giriş Yap</button>
        </li>

        <li class="nav-item me-2">
          <button class="btn btn-danger">Üye Ol</button>
        </li>
      </ul>

    </div>
  </div>
</nav>


<div class="container">
  <div class="d-flex justify-content-around mt-2">
    <a href="" class="text-decoration-none fs-6 text-dark fw-bold">Telefon</a>
    <a href="" class="text-decoration-none fs-6 text-dark fw-bold">Bilgisayar</a>
    <a href="" class="text-decoration-none fs-6 text-dark fw-bold">Giyim</a>
    <a href="" class="text-decoration-none fs-6 text-dark fw-bold">Kozmetik</a>
    <a href="" class="text-decoration-none fs-6 text-dark fw-bold">Aksesuar</a>
    <a href="" class="text-decoration-none fs-6 text-dark fw-bold">Ayakkabı</a>
  </div>
</div>

<div class="container-fluid mt-5 ms-3">
  <div class="row">
    <div class="col-md-3">
      <app-ad></app-ad>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer bg-dark mt-3 text-center text-white fw-bolder pt-4" style="height: 100px;">
  ©2021 DSM Grup Danışmanlık İletişim ve Satış Tic.A.Ş.-Her Hakkı Saklıdır.
</footer>
