<div class="container">
  <div class="d-flex justify-content-around mt-2">
    <a [routerLink]='["category","Telefon"]' class="text-decoration-none fs-6 text-dark fw-bold">Telefon</a>
    <a [routerLink]='["category","Bilgisayar"]' class="text-decoration-none fs-6 text-dark fw-bold">Bilgisayar</a>
    <a [routerLink]='["category","Giyim"]' class="text-decoration-none fs-6 text-dark fw-bold">Giyim</a>
    <a [routerLink]='["category","Kozmetik"]' class="text-decoration-none fs-6 text-dark fw-bold">Kozmetik</a>
    <a [routerLink]='["category","Aksesuar"]' class="text-decoration-none fs-6 text-dark fw-bold">Aksesuar</a>
    <a [routerLink]='["category","Ayakkabı"]' class="text-decoration-none fs-6 text-dark fw-bold">Ayakkabı</a>
  </div>
</div>

<div class="container-fluid mt-5 ms-3">
  <div class="row">
    <div class="col-md-3">
      <app-ad></app-ad>
    </div>
    <div class="col-md-9 ">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
